CottageApi.Core/bin/
CottageApi.Core/obj/
CottageApi.Data/obj/
CottageApi/.vs/
CottageApi/bin/
CottageApi/obj/
CottageApi.Data/bin/
CottageApi/Logs/
CottageApi.UnitTests/bin/
CottageApi.UnitTests/obj/
CottageApi.IntegrationTests/bin/
CottageApi.IntegrationTests/obj/
CottageApi/Upload/
*.user
CottageApi.Services/bin/
CottageApi.Services/obj/
/.vs/CottageApi/v15
/.vs
CottageApi/.config/
